.item:focus:not([data-variant='destructive']) {
  background-color: var(--color-accent);
  color: var(--color-accent-foreground);
}

.item:focus:not([data-variant='destructive']) * {
  color: var(--color-accent-foreground);
}

.item:focus:not([data-variant='destructive']) .shortcut {
  color: var(--color-accent-foreground);
}

.subTrigger[data-popup-open],
.subTrigger[data-open] {
  background-color: var(--color-accent);
  color: var(--color-accent-foreground);
}
